/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.heart-icon-btn .sparks {
  fill: transparent;
  transition: fill 0.3s ease 0.03s;
}

.heart-icon-btn .main-body {
  fill: transparent;
  transition: fill 0.3s ease 0.03s;
}

.heart-icon-btn .core {
  fill: transparent;
  transition: fill 0.3s ease 0.03s;
}

.heart-icon-btn:hover .main-body {
  fill: #000;
  transition: fill 0.3s ease 0.05s;
}

.heart-icon-btn:hover .core {
  fill: #000;
  transition: fill 0.3s ease;
}

.heart-icon-btn:active .main-body {
  fill: #ff0000;
  transition: fill 0.3s ease 0.05s;
}

.heart-icon-btn:active .core {
  fill: #ff0000;
  transition: fill 0.3s ease;
}

.heart-icon-btn .is-liked {
  animation: like 0.3s ease-in 0.1s;
}

.heart-icon-btn .is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s;
}

.heart-icon-btn .is-liked .contour {
  fill: #ff0000;
  transition: fill 0.3s linear 0.06s;
}

.heart-icon-btn .is-liked .main-body {
  fill: #ff0000;
  transition: fill 0.3s linear 0.05s;
}

.heart-icon-btn .is-liked .core {
  fill: #ff0000;
  transition: fill 0.3s linear;
}

@keyframes like {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.25;
  }

  100% {
    scale: 1;
  }
}

@keyframes sparks {
  0% {
    fill: transparent;
  }

  50% {
    fill: #ff0000;
  }

  100% {
    fill: transparent;
  }
}