/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  inline-size: clamp(320px, 100vw, 700px);
  margin: 100px auto;
  background-color: #1a1a1a;
  background-image:
    repeating-linear-gradient(transparent, #d3d3d3 2px),
    repeating-linear-gradient(90deg, transparent, #d3d3d3 2px),
    linear-gradient(#e7e7e7, #1a1a1a);
  background-size: cover;
  font-family: var(--main-font);
  font-size: var(--font-size-medium);
  font-weight: var(--font-normal-weight);
  font-variation-settings: var(--font-normal-weight-variation);
}

.page-header {
  margin: 0 0 100px;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: clamp(120px, 100%, 128px) 0;
  gap: 20px;
  background-color: #fff;
  border: var(--border);
}

.main-title {
  font-family: var(--pixel-font);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.subtitle {
  text-transform: uppercase;
  font-family: var(--pixel-font);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0 0 50px;
  gap: 50px;
}

.memory-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: var(--border);
}

.memory-title {
  margin: 5px 10px;
  font-size: var(--large-font-size);
  font-variation-settings: var(--bold-font-weight-variation);
}

@supports (font-variation-settings: var(--bold-font-weight-variation)) {
  .memory-title {
    font-variation-settings: var(--bold-font-weight-variation);
  }
}

.image-frame {
  display: flex;
  position: relative;
  border-top: var(--border);
  border-bottom: var(--border);
  overflow: hidden;
}

.memory-image {
  display: block;
  width: 100%;
}

.image-caption {
  position: absolute;
  top: 25px;
  right: clamp(13px, 13px + 0.75vw, 25px);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  font-family: var(--pixel-font);
  -webkit-text-stroke: 1px #fff;
}

@supports (text-stroke: 1px #fff) {
  .image-caption {
    text-stroke: 1px #fff;
  }
}

.description-box {
  display: flex;
  flex-direction: column;
  margin: 25px;
  gap: 25px;
}

.memory-text {
  font-size: var(--large-font-size);
}

.action-panel {
  display: flex;
  justify-content: end;
  margin: 0 25px 25px;
  gap: 12px;
}

.heart-icon-btn {
  display: flex;
  height: 100%;
  padding: 0;
  background-color: #fff;
  border: none;
}

.heart-icon-btn:focus-visible {
  outline: var(--border);
  outline-offset: -2px;
}

.like-btn {
  display: flex;
  justify-content: center;
  width: 130px;
  padding: 10px;
  transition: color 0.5s ease-in-out;
}

.btn-label {
  mix-blend-mode: difference;
  font-family: var(--pixel-font);
}

.memory-card:nth-child(2) .memory-image {
  filter: saturate(30%) brightness(120%) contrast(90%);
}

.memory-card:nth-child(3) .memory-image {
  filter: saturate(300%);
}

.memory-card:nth-child(4) .memory-image {
  filter: hue-rotate(30deg);
}

.memory-card:nth-child(5) .memory-image {
  filter: invert(80%);
}

.memory-card:nth-child(6) .memory-image {
  filter: sepia(90%);
}

.memory-card:nth-child(7) .memory-image {
  filter: blur(1rem);
}

.memory-card:nth-child(8) .memory-image {
  filter: blur(0.1rem) hue-rotate(90deg) saturate(120%) contrast(50%);
}

.page-footer {
  display: flex;
  justify-content: center;
}

.save-memory-btn {
  display: flex;
  align-items: center;
  padding: 12px 18px;
  gap: 8px;
}

@media (width <= 375px) {
  .save-memory-btn {
    flex-direction: column;
  }
}

.save-icon {
  mix-blend-mode: difference;
}

@media (width <= 375px) {
  .save-icon {
    width: 28px;
    height: 28px;
  }
}

.memory-modal {
  flex-direction: column;
  max-width: 353px;
  padding: 30px 42px;
  border: var(--border);
  gap: 30px;
  font-family: var(--pixel-font);
  font-size: var(--font-size-medium);
}

.memory-modal[open] {
  display: flex;
  align-self: center;
  justify-self: center;
  position: fixed;
  z-index: 999;
}

.memory-modal::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.modal-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.modal-icon {
  min-width: 45px;
}

.modal-message {
  text-transform: uppercase;
  line-height: 150%;
}

.close-modal-btn {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  text-transform: uppercase;
}

.outline-btn {
  position: relative;
  background-color: #fff;
  border: var(--border);
  color: #fff;
  fill: #fff;
  transition: color 0.3s ease-in, box-shadow 0.3s ease;
}

.outline-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  height: 100%;
  background-color: #000;
  transition: right 0.5s ease-in-out;
}

.outline-btn:hover::before {
  right: 0;
  transition: right 0.5s ease-in-out;
}

.outline-btn:focus {
  box-shadow: 2px 2px 0 rgb(0 0 0 / 1);
}